/* Style for admin panel */

body {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1, h2 {
    text-align: center;
    margin-top: 20px;
}
.container {
    display: flex;
    padding: 50px;
}

.wrapper {
    flex: 1;
    max-width: 800px;
    margin: 0 10px; /* This will add 10 pixels of space to the left and right of each wrapper */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-section {
    max-height: 400px; /* Set max height for the admin section */
    overflow: auto; /* Add scrollbar if content exceeds max height */
}


/* Style for chat messages table cells */
.admin-section td {
    word-wrap: break-word; /* Wrap long words */
    max-width: 200px; /* Limit the width of each table cell */
    overflow-wrap: break-word; /* Allow overflow content to wrap */
}



.admin-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.admin-section table th,
.admin-section table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-section table th {
    background-color: #f2f2f2;
}

.admin-section table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-section table tr:hover {
    background-color: #ddd;
}

.admin-section form {
    display: inline;
}

.admin-section {
    display: block;
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.admin-section table {
    width: 100%; /* Ensure table takes up full width of its container */
    border-collapse: collapse;
}

.admin-section th,
.admin-section td {
    padding: 8px;
    border: 1px solid #ddd;
}

.image-container {
    max-width: 100px; /* Limit image width */
    height: auto;
    overflow: hidden;
}

.image-container img {
    width: 100%; /* Make image responsive */
    height: auto;
}

.input-container {
    margin-top: 10px;
}

.input-container select,
.input-container button {
    width: 75%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: none;
}

.input-container select:hover,
.input-container button:hover {
    border-color: #95beec;
}

.input-container button {
    background-color: #95beec;
    color: white;
    border: none;
    cursor: none;
}

.input-container button:hover {
    background-color: #6c99d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.admin-section select {
    padding: 8px;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.admin-section select:hover {
    border-color: #95beec;
}

.admin-section button {
    margin: 20px;
    padding: 8px 15px;
    background-color: #95beec;
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: none;
}

.admin-section button:hover {
    background-color: #6c99d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Style for chat messages container */
#chat-box {
    max-height: 300px; /* Set max height for the chat messages container */
    overflow-y: auto; /* Add scrollbar if content exceeds max height */
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7737219887955182) 90%, rgba(0,0,0,0) 100%);
    padding: 10px;
    position: relative; /* Added position relative to the nav */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav h1 {
    font-size: 18pt;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
    cursor: none;
}

nav ul li a:hover {
    background-color: #555;
    cursor: none;
}

/* Style the user image */
.admin-section img.profile-pic {
    max-width: 50px; /* Set the maximum width of the image */
    max-height: 50px; /* Set the maximum height of the image */
}

/* Style the chat image */
.admin-section img.chat-image {
    width: 100px; /* Set the width of the image */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Add width: 100%; to the button */
button[name="delete_all_messages"] {
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Change from inline-block to block */
    font-size: 16px;
    margin: 4px auto; /* Change from 4px 2px to 4px auto */
    cursor: pointer;
}

/* Add text-align: center; to the parent element */
.input-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background */
.bubble-1 {
    width: 1300px; /* Adjust as needed */
    height: 1300px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    right: 0;
    transform: translateX(50%); /* Centers it vertically */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;
}

@keyframes animateBubble {
    0% { width: 1300px; height: 1200px; }
    50% { width: 1500px; height: 1400px; }
    100% { width: 200px; height: 200px; }
}

@keyframes animateBubble2 {
    0% { width: 200px; height: 200px; z-index: -1; }
    100% { width: 220vw; height: 220vw; z-index: 9999; }
}

#bubble.animate {
    animation: animateBubble 2s ease-in-out forwards;
}

#bubble.animate2 {
    animation: animateBubble2 2s ease-in-out forwards;
}

.bubble-2 {
    width: 800px; /* Adjust as needed */
    height: 800px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    left: 0;
    top: 0; /* Positions it at the top of the container */
    transform: translate(-50%, -50%); /* Centers it vertically and horizontally */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;

}

.bubble-3 {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    left: 300px; /* X position */
    top: 500px; /* Y position */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;

}


@keyframes moveAround {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-55%, -45%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-45%, -55%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes moveAroundBubble1 {
    0% {
        transform: translate(45, 0);
    }
    25% {
        transform: translate(50%, -5%);
    }
    50% {
        transform: translate(-50, 0);
    }
    75% {
        transform: translate(50%, 5%);
    }
    100% {
        transform: translate(55, 0);
    }
}

.bubble-1 {
    animation: moveAroundBubble1 10s ease-in-out infinite;
}
.bubble-2 {
    animation: moveAround 10s ease-in-out infinite;
}
.bubble-3{
    animation: moveAround 12s ease-in-out infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



@media screen and (min-width: 768px) {
    .cursor {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 9999;
      }
      
      .cursor2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rgb(166, 166, 166);
        opacity: .3;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 999;
      }
      
      .hover {
        background-color: var(--first-color);
        opacity: 0.5;
      }
      
      .cursorinnerhover {
        width: 50px;
        height: 50px;
        opacity: .5;
      }
}
@media only screen and (max-width: 600px) {
    .bubble-1 {
        width: 500px; /* Adjust as needed */
        height: 500px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        right: 0;
        transform: translateX(50%); /* Centers it vertically */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .bubble-2 {
        width: 400px; /* Adjust as needed */
        height: 400px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        left: 0;
        top: 0; /* Positions it at the top of the container */
        transform: translate(-50%, -50%); /* Centers it vertically and horizontally */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .bubble-3 {
        width: 100px; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        left: 300px; /* X position */
        top: 500px; /* Y position */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .body{
        cursor: auto;
    }

}


@media screen and (min-width: 768px) {
    .cursor {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 9999;
      }
      
      .cursor2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rgb(166, 166, 166);
        opacity: .3;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 999;
      }
      
      .hover {
        background-color: var(--first-color);
        opacity: 0.5;
      }
      
      .cursorinnerhover {
        width: 50px;
        height: 50px;
        opacity: .5;
      }
}


/* background */
.bubble-1 {
    width: 1300px; /* Adjust as needed */
    height: 1300px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    right: 0;
    transform: translateX(50%); /* Centers it vertically */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;
}

@keyframes animateBubble {
    0% { width: 1300px; height: 1200px; }
    50% { width: 1500px; height: 1400px; }
    100% { width: 200px; height: 200px; }
}

@keyframes animateBubble2 {
    0% { width: 200px; height: 200px; z-index: -1; }
    100% { width: 220vw; height: 220vw; z-index: 9999; }
}

#bubble.animate {
    animation: animateBubble 2s ease-in-out forwards;
}

#bubble.animate2 {
    animation: animateBubble2 2s ease-in-out forwards;
}

.bubble-2 {
    width: 800px; /* Adjust as needed */
    height: 800px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    left: 0;
    top: 0; /* Positions it at the top of the container */
    transform: translate(-50%, -50%); /* Centers it vertically and horizontally */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;

}

.bubble-3 {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    background-color: #778697; /* Adjust as needed */
    position: absolute;
    left: 300px; /* X position */
    top: 500px; /* Y position */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Places it behind the text */
    transition: all 2s ease-in-out;

}


@keyframes moveAround {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-55%, -45%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-45%, -55%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes moveAroundBubble1 {
    0% {
        transform: translate(45, 0);
    }
    25% {
        transform: translate(50%, -5%);
    }
    50% {
        transform: translate(-50, 0);
    }
    75% {
        transform: translate(50%, 5%);
    }
    100% {
        transform: translate(55, 0);
    }
}

.bubble-1 {
    animation: moveAroundBubble1 10s ease-in-out infinite;
}
.bubble-2 {
    animation: moveAround 10s ease-in-out infinite;
}
.bubble-3{
    animation: moveAround 12s ease-in-out infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



@media screen and (min-width: 768px) {
    .cursor {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 9999;
      }
      
      .cursor2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rgb(166, 166, 166);
        opacity: .3;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 999;
      }
      
      .hover {
        background-color: var(--first-color);
        opacity: 0.5;
      }
      
      .cursorinnerhover {
        width: 50px;
        height: 50px;
        opacity: .5;
      }
}
@media only screen and (max-width: 600px) {
    .bubble-1 {
        width: 500px; /* Adjust as needed */
        height: 500px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        right: 0;
        transform: translateX(50%); /* Centers it vertically */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .bubble-2 {
        width: 400px; /* Adjust as needed */
        height: 400px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        left: 0;
        top: 0; /* Positions it at the top of the container */
        transform: translate(-50%, -50%); /* Centers it vertically and horizontally */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .bubble-3 {
        width: 100px; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
        background-color: rgb(15, 15, 15); /* Adjust as needed */
        position: absolute;
        left: 300px; /* X position */
        top: 500px; /* Y position */
        border-radius: 50%; /* Makes it a circle */
        z-index: -1; /* Places it behind the text */
        transition: all 2s ease-in-out;
    }
    .form_contact {
        width: 50%; /* Adjust as needed */
        height: 50%; /* Adjust as needed */
    }
    .body{
        cursor: auto;
    }
    .container {
        width: 70%; /* Adjust as needed */
        height: 70%; /* Adjust as needed */
    }
    .container * {
        transform: scale(0.9); /* Adjust as needed */
    }
}


@media screen and (min-width: 768px) {
    .cursor {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 9999;
      }
      
      .cursor2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rgb(166, 166, 166);
        opacity: .3;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 999;
      }
      
      .hover {
        background-color: var(--first-color);
        opacity: 0.5;
      }
      
      .cursorinnerhover {
        width: 50px;
        height: 50px;
        opacity: .5;
      }
}